<div class="ventas-container">
    <div class="productos">
      <mat-card *ngFor="let producto of productos" class="producto-card">
        <img mat-card-image [src]="producto.imagenUrl" alt="Imagen del producto">
        <mat-card-content>
          <p>Categoría: {{ producto.categoria }}</p>
          <p>Precio: {{ producto.precio }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="agregarProducto(producto)">Añadir</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
    <div class="orden">
      <mat-card class="orden-card">
        <mat-card-title>Detalles de la Orden</mat-card-title>
        <mat-card-content>
          <p>Subtotal: {{ subtotal | currency }}</p>
          <p>IVA: {{ iva | currency }}</p>
          <p>Total: {{ total | currency }}</p>
          <mat-form-field appearance="fill">
            <mat-label>Método de pago</mat-label>
            <mat-select [(value)]="metodoPago">
              <mat-option *ngFor="let metodo of metodosDePago" [value]="metodo">
                {{ metodo }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="pagar()">Pagar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  